<div style="padding: 10px">
    <span> Drink name</span>
    <input [(ngModel)] = "drink.name"> 
</div>
<div style="padding: 10px">
    <span> Drink price</span>
    <input [(ngModel)] = "drink.price">
</div>
<div style="padding: 10px">
    <span> Drink alcoholContent</span>
    <input [(ngModel)] = "drink.alcoholContent">
</div>
<div style="padding: 10px">
    <span> manifactureName</span>
    <input [(ngModel)] = "drink.manifactureName">
</div>

<button mat-raised-button color="primary" (click) = "add()">Add</button>
